
@font-color : #000;
@background-color : #F4F6F7;
@profile-background : #009688;
@navbar-color : #00796B;
// @navbar-color:   #1976D2;
// @profile-background:       #2196F3;
@error-color:        #FF5252;
@textPrimaryColor:   #FFFFFF;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;